<%- include('partials/following_rel.ejs') %>
<%- include('partials/header.ejs') %>

<!-- CONTENT -->
<div class="content">
    <div class="container-fluid follow_header">
        <div class="follow_desc">
            <h2 class="follow_name">Following</h2>
        </div>
    </div>

    <!-- SONG -->
    <div class="container-fluid content_wrapper">
        <div class="follow_song_container">
            <div class="follow_songs">
                <% if(followSong.length > 0){ %>
                    <% followSong.forEach(song => { %>
                        <div class="follow_song">
                            <div class="follow_song_img">
                                <img src="<%= song.cover %>" alt="song_img">
                            </div>
                            <a href="/song/<%= song._id %>" class="follow_song_name"><%= song.name %></a>
                            <a href="/artist/<%= song.artist._id %>" class="follow_song_artist"><%= song.artist.name %></a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p class="no_song">You don't follow any artist</p>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>