<%- include('partials/home_rel.ejs') %>
<%- include('partials/header.ejs') %>

<!-- CONTENT -->
<div class="content">
    <div class="content_container">
        <!-- CAROUSEL -->
        <div class="carousel">
            <button class="carousel_left_button"></button>
            <div class="carousel_track_container">
                <ul class="carousel_track">
                    <% songs.forEach(song => { %>
                        <li class="carousel_slide current_slide">
                            <a href="/song/<%= song._id %>">
                                <img src="<%= song.cover %>" alt="carousel_imgcarousel_img" class="carousel_img">
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <button class="carousel_right_button"></button>
        </div>
    
        <!-- TOP SONG -->
        <div class="container content_wrapper">
            <div class="container popular_song_container">
                <a href="/song/top" class="popular_song_header">
                    <h3 class="popular_song_text">Popular Songs</h3>
                    <div class="popular_song_text_decoration"></div>
                </a>
                <div class="popular_song_track_container">
                    <% topSongs.forEach(song => { %>
                        <div class="popular_song_track">
                            <div class="popular_song_wrapper">
                                <div class="popular_song_img_container">
                                    <a href="/song/<%= song._id %>">
                                        <img src="<%= song.cover %>" alt="popular_song_img" class="popular_song_img">
                                    </a>
                                </div>
                                <ul class="popular_song">
                                    <a href="/song/<%= song._id %>" class="popular_song_name"><%= song.name %></a>
                                    <div class="popular_song_link_container">
                                        <a href="/artist/<%= song.artist._id %>" class="popular_song_artist"><%= song.artist.name %></a>
                                        <p class="popular_song_count"><%= song.favoriteCount %> favorites</p>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <!-- ALBUM -->
            <div class="container">
                <a href="/album" class="album_header">
                    <h1 class="album_text">Album</h1>
                    <div class="album_text_decoration"></div>
                </a>
                <div class="album_list_container">
                    <% albums.forEach(album => { %>
                        <div class="album_container">
                            <div class="album">
                                <div class="album_img_container">
                                    <a href="/album/<%= album._id %>">
                                        <img src="<%= album.cover %>" alt="album_img" class="album_img">
                                    </a>
                                </div>
                            </div>
                            <a href="/album/<%= album._id %>" class="album_name"><%= album.name %></a>
                        </div>
                    <% }) %>
                </div>
            </div>
            
            <!-- ARTIST -->
            <div class="container">
                <a href="/artist" class="artist_header">
                    <h1 class="artist_text">Artist</h1>
                    <div class="artist_text_decoration"></div>
                </a>
                <div class="artist_container">
                    <% artists.forEach(artist => { %>
                        <a href="/artist/<%= artist._id %>" class="artist">
                            <p class="artist_name"><%= artist.name %></p>
                            <div class="artist_img_container">
                                <img src="<%= artist.image %>" alt="artist_img" class="artist_img">
                            </div>
                        </a>
                    <% }) %>
                </div>
            </div>
            
            <!-- CATEGORY -->
            <div class="container">
                <a href="/category" class="category_header">
                    <h1 class="category_text">Category</h1>
                    <div class="category_text_decoration"></div>
                </a>
                <div class="category_container">
                    <% categories.forEach(category => { %>
                        <a href="/category/<%= category._id %>" class="category">
                            <p class="category_name"><%= category.name %></p>
                            <div class="category_img_container">
                                <img src="<%= category.image %>" alt="category_img" class="category_img">
                            </div>
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>